DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=password
DB_NAME=challenge_db
DB_SSL=false

JWT_SECRET=
RABBITMQ_URI=amqp://admin:admin@localhost:5672

TELEGRAM_BOT_TOKEN=
TELEGRAM_PERSONAL_CHAT_ID=
TELEGRAM_REMINDER_WINDOW_HOURS=24
TELEGRAM_REMINDER_SCAN_INTERVAL_MINUTES=10
